# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import openweathermapy.core as owm
import openweathermapy as ow
import json
import pprint

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

641

In [3]:
cities_df = pd.DataFrame(cities)

In [4]:
cities_df.columns = ['City']
cities_df.head()

         City
0  naryan-mar
1       vaini
2      peyima
3     ganzhou
4     amderma

In [5]:
export_csv = cities_df.to_csv('output_data/cities.csv', encoding='utf-8', index=False)

In [6]:
cities_dft = pd.read_csv('output_data/cities.csv')
cities_dft.head()

         City
0  naryan-mar
1       vaini
2      peyima
3     ganzhou
4     amderma

In [7]:
cities_dft.reset_index(drop=True, inplace=True)

In [8]:
settings = {"appid": api_key, "units": "metric"}

In [9]:
units = ["metric"]

In [10]:
url = "http://api.openweathermap.org/data/2.5/weather?"

In [11]:
query_url = url + "appid=" + api_key + "&q=" + city

In [12]:
print(requests.get(query_url))

<Response [200]>

In [ ]:
keys = ["clouds.all", "sys.country", "dt", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed"]

In [ ]:
n = 0
keys = ["clouds.all", "sys.country", "dt", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed"]
weather_data = []
for index, row in cities_df.iterrows():
    n += 1
    time.sleep(.250)
    weather_data.append(owm.find_city(row[0], **settings)(keys))
    print(f"City number {n} is, {row}")
#time.sleep(1)
#    if weather_data['cod'] == "404":
#        print(f"City, is not available")

City number 1 is, City    naryan-mar
Name: 0, dtype: object
City number 2 is, City    vaini
Name: 1, dtype: object
City number 3 is, City    peyima
Name: 2, dtype: object
City number 4 is, City    ganzhou
Name: 3, dtype: object
City number 5 is, City    amderma
Name: 4, dtype: object
City number 6 is, City    busselton
Name: 5, dtype: object
City number 7 is, City    namatanai
Name: 6, dtype: object
City number 8 is, City    new norfolk
Name: 7, dtype: object
City number 9 is, City    rikitea
Name: 8, dtype: object
City number 10 is, City    chokurdakh
Name: 9, dtype: object
City number 11 is, City    qaanaaq
Name: 10, dtype: object
City number 12 is, City    longyearbyen
Name: 11, dtype: object
City number 13 is, City    barrow
Name: 12, dtype: object
City number 14 is, City    uyuni
Name: 13, dtype: object
City number 15 is, City    jamestown
Name: 14, dtype: object
City number 16 is, City    sentyabrskiy
Name: 15, dtype: object
City number 17 is, City    saldanha
Name: 16, dtype: object
City number 18 is, City    vila velha
Name: 17, dtype: object
City number 19 is, City    ahuimanu
Name: 18, dtype: object
City number 20 is, City    hobart
Name: 19, dtype: object
City number 21 is, City    la ronge
Name: 20, dtype: object
City number 22 is, City    komsomolskiy
Name: 21, dtype: object
City number 23 is, City    yellowknife
Name: 22, dtype: object
City number 24 is, City    port alfred
Name: 23, dtype: object
City number 25 is, City    albany
Name: 24, dtype: object
City number 26 is, City    tasiilaq
Name: 25, dtype: object
City number 27 is, City    nizhneyansk
Name: 26, dtype: object
City number 28 is, City    vorontsovka
Name: 27, dtype: object
City number 29 is, City    kulhudhuffushi
Name: 28, dtype: object
City number 30 is, City    pachino
Name: 29, dtype: object
City number 31 is, City    waingapu
Name: 30, dtype: object
City number 32 is, City    lebu
Name: 31, dtype: object
City number 33 is, City    taltal
Name: 32, dtype: object
City number 34 is, City    victoria
Name: 33, dtype: object
City number 35 is, City    san patricio
Name: 34, dtype: object
City number 36 is, City    mezen
Name: 35, dtype: object
City number 37 is, City    illoqqortoormiut
Name: 36, dtype: object
City number 38 is, City    thompson
Name: 37, dtype: object
City number 39 is, City    attawapiskat
Name: 38, dtype: object
City number 40 is, City    barentsburg
Name: 39, dtype: object
City number 41 is, City    alofi
Name: 40, dtype: object
City number 42 is, City    hilo
Name: 41, dtype: object
City number 43 is, City    nome
Name: 42, dtype: object
City number 44 is, City    paraiso
Name: 43, dtype: object
City number 45 is, City    souillac
Name: 44, dtype: object
City number 46 is, City    sola
Name: 45, dtype: object
City number 47 is, City    bluff
Name: 46, dtype: object
City number 48 is, City    labutta
Name: 47, dtype: object
City number 49 is, City    sao felix do xingu
Name: 48, dtype: object
City number 50 is, City    tumannyy
Name: 49, dtype: object
City number 51 is, City    punta arenas
Name: 50, dtype: object
City number 52 is, City    cherskiy
Name: 51, dtype: object
City number 53 is, City    umzimvubu
Name: 52, dtype: object
City number 54 is, City    acarau
Name: 53, dtype: object
City number 55 is, City    kushima
Name: 54, dtype: object
City number 56 is, City    ixtapa
Name: 55, dtype: object
City number 57 is, City    maniitsoq
Name: 56, dtype: object
City number 58 is, City    cabo san lucas
Name: 57, dtype: object
City number 59 is, City    picota
Name: 58, dtype: object
City number 60 is, City    srednekolymsk
Name: 59, dtype: object
City number 61 is, City    lima
Name: 60, dtype: object
City number 62 is, City    zheleznodorozhnyy
Name: 61, dtype: object
City number 63 is, City    salalah
Name: 62, dtype: object
City number 64 is, City    butaritari
Name: 63, dtype: object
City number 65 is, City    airai
Name: 64, dtype: object
City number 66 is, City    mataura
Name: 65, dtype: object
City number 67 is, City    tyukhtet
Name: 66, dtype: object
City number 68 is, City    tirur
Name: 67, dtype: object
City number 69 is, City    hermanus
Name: 68, dtype: object
City number 70 is, City    avera
Name: 69, dtype: object
City number 71 is, City    seymchan
Name: 70, dtype: object
City number 72 is, City    fortuna
Name: 71, dtype: object
City number 73 is, City    atambua
Name: 72, dtype: object
City number 74 is, City    andros town
Name: 73, dtype: object
City number 75 is, City    le port
Name: 74, dtype: object
City number 76 is, City    kamenskoye
Name: 75, dtype: object
City number 77 is, City    severo-kurilsk
Name: 76, dtype: object
City number 78 is, City    ardesen
Name: 77, dtype: object
City number 79 is, City    bridgetown
Name: 78, dtype: object
City number 80 is, City    nikolskoye
Name: 79, dtype: object
City number 81 is, City    ushuaia
Name: 80, dtype: object
City number 82 is, City    eisenhuttenstadt
Name: 81, dtype: object
City number 83 is, City    belushya guba
Name: 82, dtype: object
City number 84 is, City    buenaventura
Name: 83, dtype: object
City number 85 is, City    egvekinot
Name: 84, dtype: object
City number 86 is, City    santa maria
Name: 85, dtype: object
City number 87 is, City    dikson
Name: 86, dtype: object
City number 88 is, City    carnarvon
Name: 87, dtype: object
City number 89 is, City    zyryanskoye
Name: 88, dtype: object
City number 90 is, City    marcona
Name: 89, dtype: object
City number 91 is, City    taolanaro
Name: 90, dtype: object
City number 92 is, City    avarua
Name: 91, dtype: object

In [ ]:
weather_data

In [ ]:
summary = ["clouds.all", "sys.country", "dt", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed"]
cities = cities_dft['City'].values

# Create a Pandas DataFrame with the results
data = [for row in weather_data]
column_names = ['Cloudiness', 'Country', 'Time', 'Temperature', 'Humidity', 'Lattitude', 'Longitude', 'Max Temp', 'Wind Speed']
weather_data = pd.DataFrame(summary, index=cities, columns=column_names)
weather_data.head()

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
#params = {
#    "City": target_coordinates,
#    "Cloudiness": target_search,
#    "Country": target_radius,
#    "Date": target_type,
#    "Humidity": target_coordinates,
#    "Lat": target_search,
#    "Lng": target_radius,
#    "Max Temp": target_type,
#    "Wind Speed": target_type
#}

In [ ]:
settings = {"units": "metric", "appid": api_key}

In [ ]:
current_weather_paris = owm.get_current("deputatskiy", **settings)
print(f"Current weather object for Paris: {current_weather_paris}.")

In [ ]:
summary = ["name", "clouds.all", "sys.country", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed" ]

data = current_weather_paris(*summary)
print(f"The current weather summary for Paris is: {data}.")

In [ ]:
units = ["metric"]

# set up list to hold two different temperatures
temperatures = []

# loop throught the list of units and append them to temperatures list
for city in cities:
    # Build query URL based on current element in units
    query_url = url + "appid=" + api_key + "&q=" + "&units=" + unit

    # Get weather data
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()

    # Get temperature from JSON response
    temperature = weather_json["main"]["temp"]

    temperatures.append(temperature)

# Report temperatures by accessing each element in the list
print(
    f"The temperature in Bujumbura is {temperatures[0]}C or {temperatures[1]}F.")

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot